.products-gemi-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#collection_filter_settings label {
    font-size: 14px;
}

.template-todo #content-core dd span.description {
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-style: italic;
}

.folder-contenttype-view-settings td label,
.kssattr-formname-listbycontenttype-settings span.option,
.kssattr-formname-gemi-settings span.option {
    display: block !important;
}
