/* bibfolder styles*/
.bibfolder-view-wrapper .bibfolder-items .bibfolder-item {
    margin-bottom: 10px;
}

.bibfolder-view-wrapper .bibfolder-items .bibfolder-item .files {
    display: inline-block;
    margin-left: 4px;
}
.bibfolder-view-wrapper .year-group .year {
    font-size: 18px;
    color: #427597;
}

.bibfolder-view-wrapper .bibfolder-items {
    margin-bottom: 35px;
    margin-top: 5px;
}

.bibfolder-view-wrapper section h4.section-title {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    margin: 8px 0;
}
.bibfolder-view-wrapper section div.section-description {
    font-size: 13px;
    padding-bottom: 10px;
}
.bibfolder-view-wrapper .bibfolder-filter {
    margin-top: 8px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
.bibfolder-view-wrapper .bibfolder-filter form {
    border: 1px solid #888;
    padding: 10px 20px;
    display: inline-block;
}
.bibfolder-view-wrapper .bibfolder-filter .form-control {
    height: 25px;
    padding: 0px 5px;
}
.bibfolder-view-wrapper .bibfolder-filter span {
    display: inline-block;
    line-height: 25px;
    vertical-align: top;
}
.bibfolder-view-wrapper .bibfolder-filter input.btn{
    padding: 4px 12px;
    font-size: 12px;
}


/* bibfolder settings styles*/
.bibfolder-view-settings table.filter,
.bibfolder-view-settings table.categories {
   width: 100%;
}

.bibfolder-view-settings table.categories td {
   border-bottom: 1px solid #efefef;
   padding: 15px 0px;
}

.bibfolder-view-settings table.categories td.name input {
    width: 99%;
}
.bibfolder-view-settings table.categories td.name div {
    margin-top: 8px;
}
.bibfolder-view-settings table.categories td.types {
    width: 40%;
}
.bibfolder-view-settings table.categories td.name {
    width: 50%;
    padding: 15px 15px 0px 5px;
}
.bibfolder-view-settings table.categories td.name textarea,
.bibfolder-view-settings table.categories td.name input {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.bibfolder-view-settings table.categories td.types select {
    width: 98%;
    border: 0px;
}
.bibfolder-view-settings table.categories label{
    display: block !important;
    margin-bottom: 0px;
}
.bibfolder-view-settings table.filter td {
    border: none !important;
}
.bibfolder-view-settings table.filter td textarea {
    width: 90%;
}

/* generic styles*/
.products-gemi-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bibfolder-view-settings label {
    font-size: 12px;
    line-height: 24px;
}

.template-todo #content-core dd span.description {
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-style: italic;
}

.folder-contenttype-view-settings td label,
.kssattr-formname-listbycontenttype-settings span.option,
.kssattr-formname-gemi-settings span.option {
    display: block !important;
}
li.bibfolder-item a {
    text-decoration: none!important;
    color: #333333;
}
li.bibfolder-item a:hover {
    text-decoration: none!important;
    color: #163776;
}
.has-tabs > ul {
    list-style: none;
    padding: 0px;
}
.has-tabs > ul > li {
    float: left;
}
.has-tabs > ul > li a {
    display: block;
    padding: 8px 10px;
}
.has-tabs > ul > li.active > a {
    background: #fff;
    border: 1px solid #dddddd;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.has-tabs .tab-contents {
    display: block;
    clear: both;
    padding: 0px;
    border-top: 1px solid #efefef;
}
.has-tabs .tab-content {
    display: none;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.has-tabs .tab-content.active {
    display: block;
    background: #fff;
    border: 1px solid #dddddd;
    border-top: 0px;
}
